<h4 class="card-header my-3 dark-grey-text">Enter Details</h4>
<form class="needs-validation" novalidate="">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input [(ngModel)]="FirstName" type="text" class="form-control" name="FirstName" placeholder="" required="">
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input [(ngModel)]="LastName" type="text" class="form-control" name="LastName" placeholder="" value="" required="">
        </div>
    </div>

    <div class="mb-3">
        <label for="email">Email</label>
        <input [(ngModel)]="Email" type="email" class="form-control" name="Email" placeholder="name@domain.com">
    </div>
    <div class="mb-3">
        <label for="address">Address</label>
        <input [(ngModel)]="Address" type="text" class="form-control" name="Address" placeholder="1234 Main St" required="">
    </div>
    <!-- <div class="mb-3">
        <label [(ngModel)]="AddressOptional" for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
    </div> -->
    <div class="row">
        <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select [(ngModel)]="Country" class="custom-select d-block w-100" name="Country" required="">
                            <option value="">Select</option>
                            <option>United States</option>
                        </select>
            <div class="invalid-feedback"> Please select a valid country. </div>
        </div>
        <div class="col-md-4 ">
            <label for="state">State</label>
            <select [(ngModel)]="State" class="custom-select d-block w-100" name="State" required="">
                            <option value="">Select</option>
                            <option>California</option>
                        </select>
            <div class="invalid-feedback"> Please provide a valid state. </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input [(ngModel)]="Zip" type="text" class="form-control" name="Zip" placeholder="" required="">
            <div class="invalid-feedback"> Zip code required. </div>
        </div>
    </div>

    <h4 class="card-header">Payment</h4>
    <div class="d-block my-3">
        <div class="custom-control custom-radio">
            <input [(ngModel)]="PaymentMethod" value="PaymentMethod" id="credit" name="PaymentMethod" type="radio" class="custom-control-input">
            <label class="custom-control-label">Credit card</label>
        </div>
        <div class="custom-control custom-radio">
            <input [(ngModel)]="PaymentMethod" value="PaymentMethode" id="debit" name="PaymentMethod" type="radio" class="custom-control-input">
            <label class="custom-control-label">Debit card</label>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input [(ngModel)]="NameOnCard" type="text" class="form-control" name="NameOnCard" placeholder="Full name as on card" required="">
            <div class="invalid-feedback"> Name on card is required </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input [(ngModel)]="CardNumber" type="text" class="form-control" name="NameOnCard" placeholder="" required="">
            <div class="invalid-feedback"> Credit card number is required </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input [(ngModel)]="Expiration" type="text" class="form-control" name="Expiration" placeholder="" required="">
            <div class="invalid-feedback"> Expiration date required </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="cc-cvv">CVV</label>
            <input [(ngModel)]="Cvv" type="text" class="form-control" name="Expiration" placeholder="" required="">
            <div class="invalid-feedback"> Security code required </div>
        </div>
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" (click)="submitUserMessage()" type="submit">Place order</button>
</form>