<div class="modal-header" style="border:none;background-color:#F0F0F0">
    <h6 style="font-weight: bold;" class="modal-title" id="exampleModalLabel">Add "{{product.title}}" to Cart</h6>
    <button type="button" class="btn" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
</div>

<div class="modal-container d-flex justify-content-left align-items-center">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-auto">
                <img src="../assets/images/products/{{product.filename}}" width="100" height="150" />
            </div>
            <div class="col-6">
                <p>Select Quantity</p>
                <input type="number" id="addQuantity" [(ngModel)]="addQuantity" name="addQuantity" min="1" style="width: 3em">
            </div>
        </div>
    </div>
</div>

<!--  -->

<div class="modal-footer" style="border:none;">
    <button type="button" class="btn btn-secondary" (click)="addToCart(product,addQuantity);modalRef.hide()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
</div>