<h4 style="text-align:center;margin-top: 50px;">Aditional Information:</h4>

<div class="grid-container">
    <div>
        <h4>About Us</h4>
        <ul>
            <li><a href="">Test</a></li>
            <li><a href="">Test</a></li>
        </ul>
        <div class="mt-2">
            <form action=""></form>
            <input type="email" class="form-control">
            <button class="btn btn-primary">SEND</button>
        </div>
    </div>
    <div>
        <h4>
            Quick Links
        </h4>
        <div class="row">
            <div class="col-lg-6 col-12">
                <ul>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                </ul>
            </div>
            <div class="col-lg-6 col-12">
                <ul>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                </ul>
            </div>
        </div>
    </div>
</div>