<div class="row">
    <div class="col-lg-3 col-12">
        <h2>About Us</h2>
        <ul>
            <li><a href="">TEST</a></li>
            <li><a href="">test</a></li>
        </ul>
        <div class="mt-2">
            <form action=""></form>
            <input type="email" class="form-control">
            <button class="btn btn-primary">SEND</button>
        </div>
    </div>
    <div class="col-lg-3 col-12">
        <h2>
            Quick Links
        </h2>
        <div class="row">
            <div class="col-lg-6 col-12">
                <ul>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                </ul>
            </div>
            <div class="col-lg-6 col-12">
                <ul>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-12">
        <h2>
            Contact Info
        </h2>
        <div>
            <p>
                <i class="fa fa-location-arrow" aria-hidden="true"></i> Address
            </p>
            <p>
                <i class="fa fa-phone" aria-hidden="true"></i> +1 985 985 7895
            </p>
            <p>
                <i class="fa fa-envelope" aria-hidden="true"></i> test@gmu.edu
            </p>
        </div>
    </div>
</div>