<div class="py-5 text-center">
    <h2>Checkout form</h2>
</div>
<div class="row">
    <div class="col-md-5">
        <app-checkout></app-checkout>
    </div>
    <div class="col-md-7">
        <h4>Items</h4>
        <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
            <div class="d-flex flex-row">
                <img style="margin-right: 10px;" class="rounded" src="../../assets/images/products/{{product.filename}} " width="70 ">
                <div class="ml-2"><span style="font-weight: bold;" class=" d-block ">{{product.title}}</span><span class="spec">{{product.description}}</span>
                </div>
            </div>
            <span style="font-weight: bold;">${{product.price}}</span>
        </div>
        <div class="d-flex justify-content-between mt-3 p-2 items rounded container p-3 my-3 border">
            <h4>Total cost: </h4>
            <span style="font-weight: bold;">${{product.price}}</span>
        </div>
    </div>

</div>