<div class="row">
    <div class="col-lg-4 col-12 font-weight-bold">
        SHOP
    </div>
    <div class="col-lg-4 col-12">
        <ul class="site-menu d-none d-lg-block">
            <li class="has-children active d-inline-block mr-2">
                <a href="index.html">Categories</a>
                <ul class="dropdown">
                    <li>
                        <a href="#">Vegetable</a></li>
                    <li>
                        <a href="#">Fruits</a></li>
                    <li>
                        <a href="#">Dairy</a></li>
                </ul>
            </li>
            &nbsp;
            <!-- TODO: why mr not working?-->
            <li class="d-inline-block pd-2">
                <a href="contact.html">Contact</a>
            </li>

        </ul>
    </div>
    <div class="col-lg-4 col-12">
        <ul class="list-inline">
            <li><i class="fas fa-search"></i></li>
            &nbsp;
            <li><i class="fas fa-shopping-cart"></i></li>
        </ul>
    </div>
</div>