<div class="row products">
    <div class="col-lg-4 col-12">
        <div class="card">
            <img src="https://i5.walmartimages.com/asr/4c527ad3-8a15-4bd1-9e19-32fdac781931.6bcd709090d53d2bb5f29aed0d0c5a19.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="card">
            <img src="https://i5.walmartimages.com/asr/c721459d-3826-4461-9e79-c077d5cf191e_3.ca214f10bb3c042f473588af8b240eca.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="card">
            <img src="https://i5.walmartimages.com/asr/83f82e4c-024b-406f-a46b-0db25efdb2de.97a4d08b77bbbc45ff0eb14e241b7311.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</div>