<div class="row products ">
    <div class="row mt-50">
        <h1 style="padding-top: 50px;padding-bottom: 30px;"> Shop now </h1>
        <div *ngFor="let product of returnedProductList" class="col-lg-2 col-12 mb-5">
            <div class="card" style="height: 30rem;">
                <img src="../../assets/images/products/{{product.filename}}" class="card-img-top" alt="..." width="200" height="300">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">${{product.price}}</p>
                    <a class="btn btn-primary" (click)="addToCart(product.price);">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div style="width: 55%; float: right;">
                <pagination previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [totalItems]="filteredProductList.length || 0" (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage" [boundaryLinks]="true" [maxSize]="5" [rotate]="false"></pagination>
            </div>
            <div style="float: none;"></div>
        </div>
    </div>
</div>