<ng-container *ngIf="itemsOnCart.length==0">
    <div style="text-align:center">
        <img src="../../assets/images/cartEmpty.jpg">
    </div>
</ng-container>
<ng-container *ngIf="itemsOnCart.length!=0">
    <h4 style="margin-top: 20pt;">Items</h4>
    <li *ngFor="let cartItem of itemsOnCart">
        <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
            <div class="d-flex flex-row">
                <img style="margin-right: 10px;" class="rounded" src="../../assets/images/products/{{cartItem.filename}} " width="100 ">
                <div class="ml-2"><span style="font-weight: bold;" class=" d-block ">{{cartItem.title}}</span><span class="spec">{{cartItem.description}}</span>
                    <div class="spec"><span style="font-weight: bold;">Qty: </span>{{cartItem.quantity}}</div>
                    <button class="mt-2" (click)="removeItemFromCart(cartItem.title)">Remove</button>
                </div>
            </div>
            <span style="font-weight: bold;">${{cartItem.price}}</span>
        </div>
    </li>

    <div class="d-flex justify-content-between mt-3 p-2 items rounded container p-3 my-3 border">
        <h4>Total cost: </h4>
        <span style="font-weight: bold;">${{cartSum}}</span>
    </div>
</ng-container>